/**
 * @file
 * Styles for the CWRC-Writer in the context of Islandora.
 */

/* Allow the CWRC-Writer to be used outside of an iframe */
#cwrc_parent {
  position: relative;
}
#cwrc_wrapper {
  overflow: hidden;
}
#cwrc_main .ui-layout-pane-center {
  overflow: hidden;
}
#cwrc_header h2{
  margin: 0 !important;
}

#islandora-cwrc-document-select-wrapper {
  display: block;
  float: left;
}
#islandora-cwrc-document-select {
  margin: 12px 15px 0px;
}
#islandora-cwrc-document-nav {
  list-style:  none;
  margin: 0;
}
#islandora-cwrc-document-nav a {
  float: left;
  width: 30px;
  height: 35px;
  background: transparent url('../images/nav-arrows.png') no-repeat;
  opacity: 0.85 !important;
}
#islandora-cwrc-document-nav a.disabled {
  opacity: 0.6 !important;
}
#islandora-cwrc-document-nav a:not(.disabled):hover {
  opacity: 1 !important;
}
#islandora-cwrc-document-nav li.prev a {
  background-position: -9px -1px;
}
#islandora-cwrc-document-nav li.next a {
  background-position: -42px -1px;
}

/* cwrc-writer additions & overrides for use with islandora */
/* https://github.com/cwrc/Islandora-CWRC-Writer/commit/086ce8f642e7b1ff4f10d29076572963246ed635 */
.cwrc .ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
.cwrc .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
  box-sizing: content-box;
}

.cwrc .ui-state-hover,
.cwrc .ui-widget-content .ui-state-hover,
.cwrc .ui-widget-header .ui-state-hover,
.cwrc .ui-state-focus,
.cwrc .ui-widget-content .ui-state-focus,
.cwrc .ui-widget-header .ui-state-focus,
.cwrc .ui-button:hover,
.cwrc .ui-button:focus {
	background-color: #ededed;
}

.cwrc .ui-state-active,
.cwrc .ui-widget-content .ui-state-active,
.cwrc .ui-widget-header .ui-state-active,
a.cwrc .ui-button:active,
.cwrc .ui-button:active,
.cwrc .ui-button.ui-state-active:hover {
  color: #455373 !important;
}

#cwrc_wrapper .cwrc {
  line-height: 1em !important;
}

#cwrc_wrapper .cwrc.context-menu-root li {
  width: auto !important;
  float: none !important;
}

#cwrc_wrapper ul.entitiesList .info ul {
  margin: 0 !important;
}
#cwrc_wrapper ul.entitiesList li {
  width: auto !important;
  float: none !important;
}

#cwrc_wrapper .cwrc .ui-widget,
#cwrc_wrapper .cwrc .ui-widget-content,
#cwrc_wrapper .cwrc form .ui-widget select {
  font-size: 14px !important;
}

#cwrc_wrapper .cwrc .ui-state-active,
#cwrc_wrapper .cwrc .ui-widget-content .ui-state-active,
#cwrc_wrapper .cwrc .ui-widget-header .ui-state-active,
#cwrc_wrapper a.cwrc .ui-button:active,
#cwrc_wrapper .cwrc .ui-button:active,
#cwrc_wrapper .cwrc .ui-button.ui-state-active:hover {
border: 1px solid #455373 !important;
background: #586B93 !important;
font-weight: normal !important;
color: #ffffff !important;
}

#cwrc_wrapper .cwrc .ui-tabs .ui-tabs-nav li {
  border-bottom-width: 0px !important;
}

#cwrc_wrapper .cwrc .ui-dialog .ui-dialog-content {
  border-width: 0 !important;
}

#cwrc_wrapper .cwrc .ui-dialog .ui-dialog-buttonpane {
  border-color: #dddddd !important;
  border-style: solid !important;
  border-width: 1px 0 0 0 !important;
}

#cwrc_wrapper .cwrc .tabs .ui-tabs-nav a {
  background-color: transparent !important;
  transition: none !important;
  margin: 0 !important;
  line-height: 1.3em !important;
}

#cwrc_wrapper .cwrc a.jstree-anchor {
  padding: 0 4px 0 1px !important;
}

#cwrc_wrapper ul.vakata-context li {
  float: none !important;
  width: auto !important;
  margin: 0 !important;
}
